
#text{
    font-family: Lato;
    font-size: 17px;
    font-weight: 600;
	color: darkgreen;
}
#addText{
    font-family: Lato;
    font-size: 17px;
    font-weight: 600;
    padding: 15px;
    background-color:honeydew;
    color: black;
    border: 1px solid black;
    margin-left: 60px; 
}
#quotes{
    font-family: Lato;
    font-size: 17px;
    font-weight: 600;
    padding: 15px;
    background-color:honeydew;
    color: black;
    border: 1px solid black;
    margin-left: 60px; 
}
